@import 'tailwindcss';

@theme inline {
  --color-black: #1c1e1f;
  --color-white: #f3f3f3;
  --github-brand-light: #2b3137;
  --github-brand-dark: #2b3137;
  --linkedin-brand: #0077b5;
  --instagram-brand: #e1306c;
  --x-brand: #000000;
  --font-bricolage-grotesque: var(--font-bricolage-grotesque-next);
  --font-inter: var(--font-inter-next);
  --font-lustria: var(--font-lustria-next);
}

@custom-variant dark (&:where(.dark, .dark *));
